<h1 class='animated fadeIn fast'>
    Acerca de la app</h1>
<hr>
<h2>Historia de Marvel y DC Comics <img src="/assets/img/mdc.png" width="150" height="80"></h2>
<hr>
<p class='animated fadeIn '>

    Ambas editoriales fueron creadas en la misma década, en un momento en el que Estados Unidos necesitaban de las figuras de héroes e historias fantásticas para escapar de la realidad de la gran depresión económica y de una guerra mundial. DC Comics (1934)
    nació bajo el nombre de National Allied Publications y comenzó su carrera de publicaciones con, nada más y nada menos que, Superman; posiblemente el héroe más famoso y conocido en el mundo. Por otro lado, 5 años después, Marvel (1939) surgió con el
    nombre de Timely Publications. Bajo el manto de la Segunda Guerra Mundial y dos años después de su fundación aparece el primer personaje aún reconocible de Marvel: Capitán América.
</p>