<h1 class='animated fadeIn '>{{dc.nombre|uppercase}}</h1>
<h2><small>Hizo su presentacion el:{{dc.aparicion|date:' LLL Del y'}}</small></h2>
<hr>
<div class="row animated fadeIn fast">
    <div class='col-md-4'>
        <img [src]='dc.img' class="img-fluid" [alt]='dc.nombre'>
        <br><br>
        <a [routerLink]="['/dc']" class='btn  btn-outline-danger btn-block'> Regresar... </a>

    </div>
    <div class="col-md-8">
        <h3>{{dc.nombre}}</h3>
        <hr>
        <p>{{dc.bio}}</p>
        <img style='width:200px' class="img-fluid puntero" [src]='dc.img2' [alt]='dc.casa'>
    </div>
</div>