<h1 class="animated fadeIn"> Dc Comic</h1>
<hr>
<div class="card-columns">
    <div class="card animated fadeIn fast " *ngFor="let hex of heroes,let i= index">
        <img [src]="hex.img" class="card-img-top img-fluid" [alt]='hex.nombre'>
        <div class="card-body">
            <h5 class="card-title">{{hex.nombre}}</h5>
            <p class="card-text">{{hex.bio2}}</p>
            <p class="card-text"><small class="text-muted">({{hex.aparicion|date:'y'}})</small></p>
            <button (click)='dhero(i)' class="btn btn-outline-primary btn-block">Ver mas..</button>
        </div>

    </div>